 
 .banner{
    background: greenyellow;
    color: brown;
    text-align: center;
    padding: 2.5em 2em;
 }

 .banner__titulo {
    font-size: 20px;
    font-weight: 800;
 }

 .banner__texto {
    font-weight: 500;
    margin: 1em 0;
 }

 .banner__pesquina {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
    border-radius: 18px;
    padding: 1em;
    width: 100%;
 }

 .banner__pesquina::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: aquamarine;
 }